<div class="main-div">
<mat-card>
  <mat-card-header>Form Builder</mat-card-header>
  <form [formGroup] = "formBuilderForm" id="formBuilderForm">
    <mat-form-field>  
        <input matInput name="name" formControlName="name" type="name" placeholder="Enter Username" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.name.touched) && formBuilderForm.controls.name.errors }" />
          <mat-error>
            <div *ngIf="formBuilderForm.value.name.length != 0">
              <div *ngIf="((submitted || formBuilderForm.controls.name.touched) && formBuilderForm.controls.name.errors)" class="invalid-input">Enter Valid username</div>
            </div>
            <div *ngIf="formBuilderForm.controls.name.errors?.required">name is required && only 20 characters allowed</div>
          </mat-error>
      </mat-form-field>

    <mat-form-field class="email" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.email.touched) && formBuilderForm.controls.email.errors }">
      <input matInput name="email" formControlName="email" type="text" placeholder="E-Mail" />
      <mat-error>
      <div *ngIf="formBuilderForm.value.email.length != 0">
         <div *ngIf="((submitted || formBuilderForm.controls.email.touched) && formBuilderForm.controls.email.errors)" class="invalid-input">Please enter Valid Email</div>
      </div>
      <div *ngIf="formBuilderForm.controls.email.errors?.required">Email is required</div>
      </mat-error>
    </mat-form-field>


    <h3>Gender</h3>
    
    <input type="radio" formControlName="gender" value="male" required> Male
    <input type="radio" formControlName="gender" value="female" required> Female

    <br />
    
    <mat-form-field class="number">
      <input matInput name="adhaarNumber" formControlName="adhaarNumber"  placeholder="Adhaar Number" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.adhaarNumber.touched) && formBuilderForm.controls.adhaarNumber.errors }" />
      <mat-error>
        <div *ngIf="formBuilderForm.value.adhaarNumber.length != 0">
          <div *ngIf="((submitted || formBuilderForm.controls.adhaarNumber.touched) && formBuilderForm.controls.adhaarNumber.errors),"  class="invalid-input">Enter Valid Adhaar Number</div>
        </div>
        <div *ngIf="formBuilderForm.controls.adhaarNumber.errors?.required">Adhaar Number is required</div>
      </mat-error>
    </mat-form-field>

     <br />

     <mat-form-field class="address">
      <input matInput name="address" formControlName="address" placeholder="Address"  [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.address.touched) && formBuilderForm.controls.address.errors }" />
      <mat-error>
        <div *ngIf="formBuilderForm.value.address.length !== 0">
          <div *ngIf="((submitted || formBuilderForm.controls.address.touched) && formBuilderForm.controls.address.errors),"  class="invalid-input">Enter Valid Address</div>
        </div>
        <div *ngIf="formBuilderForm.controls.address.errors?.required">Address is required</div>
      </mat-error>
    </mat-form-field>

     <br />


     <mat-form-field class="mobileno">
      <input matInput name="mobileno" formControlName="mobileno"  placeholder="MobileNo." [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.mobileno.touched) && formBuilderForm.controls.mobileno.errors }" minlength="10" maxlength="10"/>
      <mat-error>
        <div *ngIf="formBuilderForm.value.mobileno.length !== 0">
          <div *ngIf="((submitted || formBuilderForm.controls.mobileno.touched) && formBuilderForm.controls.mobileno.errors),"  class="invalid-input">Enter Valid Mobile No.</div>
        </div>
        <div *ngIf="formBuilderForm.controls.mobileno.errors?.required">Mobile No. is required</div>
      </mat-error>
    </mat-form-field>

     <br />
     
     <h3>Date of Birth</h3>
     <input type="date"  class="form-control" id="birthDate" [ngModel]="birthDate | date: 'yyyy-MM-dd'" formControlName="birthDate" name="birthDate" />
    
     <br /> 
     <br />
     
     <h3>Country</h3>
     <select id="country" formControlName="country">
       <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
     </select>

     <br />
     <br />

     <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()" >Pick Profile Image</button>
        <input id="fileItem" accept="image/*" type="file" #filePicker (change)="onImagePicked($event)" >
     </div>

     <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && formBuilderForm?.get('image')?.valid" >
       <img [src]="imagePreview" [alt] = "formBuilderForm.value.name">
     </div>

    <br />
    <button mat-raised-button color="primary" (click)="postFormData();" [disabled]="(formBuilderForm.value.length === 0)" type="submit">Send</button>
  </form>

</mat-card>
</div>

<br />
<br />

<table class="styled-table" style="margin: 20% 15% 20% 15%">
   <thead>
     <th>Name</th>
     <th>Email</th>
     <th>Gender</th>
     <th>BirthDate</th>
     <th>Adhaar Number</th>
     <th>Country</th>
     <th>Address</th>
     <th>Mobile No</th>
     <th>createdAt</th>
     <th>Update</th>
     <th>Delete</th>
   </thead>

   <tbody>
     <tr *ngFor = "let formdata of formData;let i = index">
        <td>{{ formdata.name }}</td>
        <td>{{ formdata.email }}</td>
        <td>{{ formdata.gender }}</td>
        <td>{{ formdata.creators[i].birthDate }}</td>
        <td>{{ formdata.creators[i].adhaarNumber }}</td>
        <td>{{ formdata.creators[i].country }}</td>
        <td>{{ formdata.creators[i].address }}</td>
        <td>{{ formdata.creators[i].mobileno }}</td>
        <td>{{ formdata.createdAt }}</td>
        <td><button id="update" (click)="openformBuilderDialog($event, formdata.email, formdata.creators[i].adhaarNumber)">Update</button></td>
        <td><button id="delete" (click)="deleteFormDataByName($event, formdata.name, formdata.creators[i].mobileno , i)" >Delete</button></td>   
     </tr>
   </tbody>
</table>