<mat-icon class="pull-right close-icon" id="aclose" (click)="onCloseDialog()">close</mat-icon>

<div class="main-div">
    <mat-card>
        <h4>Update</h4>

        <form [formGroup] = "formBuilderForm" id="formBuilderForm" (ngSubmit)="updateFormBuilderByName()">
            <div class="name">
              <mat-form-field>  
                <input matInput name="name" formControlName="name" type="name" placeholder="Enter Username" value="{{ name }}" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.name.touched) && formBuilderForm.controls.name.errors }"  size="10"/>
                  <mat-error>
                    <div>
                      <div *ngIf="((submitted || formBuilderForm.controls.name.touched) && formBuilderForm.controls.name.errors)" class="invalid-input"></div>
                    </div>
                  </mat-error>
              </mat-form-field>
              <mat-slide-toggle [checked]="name_is_active" (change)="name_is_active = $event.source.checked">
              </mat-slide-toggle>
            </div>

            <div>
              <mat-form-field class="email">
                <input matInput name="email" formControlName="email" type="text" placeholder="E-Mail" value="{{ email }}" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.email.touched) && formBuilderForm.controls.email.errors }" />
                 <mat-error>
                   <div>
                     <div *ngIf="((submitted || formBuilderForm.controls.email.touched) && formBuilderForm.controls.email.errors),"  class="invalid-input">Enter Valid Email Id</div>
                   </div>
                 </mat-error>
               </mat-form-field>
              <mat-slide-toggle [checked]="email_is_active" (change)="email_is_active = $event.source.checked"></mat-slide-toggle>
            </div>
            
            <div>
              <h3>Gender</h3>
              <input type="radio" formControlName="gender" value="male" required> Male
              <input type="radio" formControlName="gender" value="female"required> Female
              <mat-slide-toggle [checked]="gender_is_active" (change)="gender_is_active = $event.source.checked"></mat-slide-toggle>
            </div>

            <br />

            <div>
             <mat-form-field class="number">
              <input matInput name="adhaarNumber" formControlName="adhaarNumber"  placeholder="Adhaar Number" value="{{ adhaarNumber }}"  [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.adhaarNumber.touched) && formBuilderForm.controls.adhaarNumber.errors }" />
              <mat-error>
                <div>
                  <div *ngIf="((submitted || formBuilderForm.controls.adhaarNumber.touched) && formBuilderForm.controls.adhaarNumber.errors),"  class="invalid-input">Enter Valid Adhaar Number</div>
                </div>
              </mat-error>
              </mat-form-field>
              <mat-slide-toggle [checked]="adhaarNumber_is_active" (change)="adhaarNumber_is_active = $event.source.checked">
              </mat-slide-toggle>
            </div>
            
           <div>
            <mat-form-field class="address">
              <input matInput name="address" formControlName="address"  placeholder="Address" value="{{ address }}" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.address.touched) && formBuilderForm.controls.address.errors }" />
              <mat-error>
                <div>
                  <div *ngIf="((submitted || formBuilderForm.controls.address.touched) && formBuilderForm.controls.address.errors),"  class="invalid-input">Enter Valid Address</div>
                </div>
              </mat-error>
             </mat-form-field>
             <mat-slide-toggle [checked]="address_is_active" (change)="address_is_active = $event.source.checked">
            </mat-slide-toggle>
           </div>
            
          <div> 
            <mat-form-field class="mobileno">
              <input matInput name="mobileno" formControlName="mobileno"  placeholder="Mobile No." value="{{ mobileno }}" [ngClass] = "{'is-invalid': (submitted || formBuilderForm.controls.mobileno.touched) && formBuilderForm.controls.mobileno.errors }" minlength="10" maxlength="10"/>
              <mat-error>
                <div>
                  <div *ngIf="((submitted || formBuilderForm.controls.mobileno.touched) && formBuilderForm.controls.mobileno.errors),"  class="invalid-input">Enter Valid Mobile No.</div>
                </div>
              </mat-error>
            </mat-form-field>
            <mat-slide-toggle [checked]="mobileno_is_active" (change)="mobileno_is_active = $event.source.checked">
            </mat-slide-toggle>
          </div>

          <div>
            <h3>Date of Birth</h3>
            <input type="date"  class="form-control" id="birthDate" [ngModel]="birthDate" formControlName="birthDate" name="birthDate" />
            <br />
            <mat-slide-toggle [checked]="birthDate_is_active" (change)="birthDate_is_active = $event.source.checked">
            </mat-slide-toggle>
          </div>

            <br />
            <br />
           
            <div>
             <select id="country" formControlName="country"> {{ country }}
               <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
             </select>
             <mat-slide-toggle [checked]="country_is_active" (change)="country_is_active = $event.source.checked">
            </mat-slide-toggle>
            </div>

            <br />           
            <br /> 
  
            <button mat-raised-button color="primary"  [disabled]="(formBuilderForm.value.length === 0)" type="submit">Send</button>
          </form>        
</mat-card>